.header {
    text-align: center;
}

.header h2 {
    font-family: Unbounded, sans-serif;
}

.header p {
    font-family: sans-serif;
}

@font-face {
    font-family: Unbounded;
    src: url("../../fonts/Unbounded-ExtraLight.ttf");
}
